## RENAMU

In [19]:
import pandas as pd
import os
import zipfile
import rarfile
import pyreadstat

In [20]:
df = pyreadstat.read_sav("modulo1.sav")

In [21]:
df = df[0]

In [22]:
print(df.columns)

Index(['Año', 'idmunici', 'ccdd', 'ccpp', 'ccdi', 'Ubigeo', 'Departamento',
       'Provincia', 'Distrito', 'Tipomuni',
       ...
       'C97_2_2_3_6', 'C97_2_2_3_7', 'C97_2_2_3_8', 'C97_2_2_3_9',
       'C97_2_2_3_10', 'C97_2_2_3_11', 'C97_2_2_4', 'C97_2_3', 'C97_2_4',
       'C97_3'],
      dtype='object', length=1368)

In [23]:
col_k =["Año","Ubigeo","Departamento","Provincia","Distrito","C96","C97"]

In [24]:
df = df[col_k]

In [25]:
df["Utilidad"] = df["C96"]-df["C97"]
df = df.drop(columns=['C96', 'C97'])
df =df.dropna()

In [26]:
df22 = df

In [70]:
df18_1 =pyreadstat.read_sav("C06.sav")

In [71]:
df18_1 = df18_1[0]

In [72]:
print(df18_1.columns)

Index(['idmunici', 'ccdd', 'ccpp', 'ccdi', 'Departamento', 'Provincia',
       'Distrito', 'catmuni', 'VFI_C119', 'C119', 'C119_1', 'C119_1_1',
       'C119_1_1_1', 'C119_1_1_2', 'C119_1_1_3', 'C119_1_1_4', 'C119_1_1_5',
       'C119_1_1_6', 'C119_1_1_7', 'C119_1_1_8', 'C119_1_2', 'C119_1_3',
       'C119_1_3_1', 'C119_1_3_2', 'C119_1_3_3', 'C119_1_3_4', 'C119_1_3_5',
       'C119_1_3_6', 'C119_1_3_7', 'C119_1_3_8', 'C119_1_3_9', 'C119_1_3_10',
       'C119_1_3_11', 'C119_1_3_12', 'C119_1_3_13', 'C119_1_3_14',
       'C119_1_3_15', 'C119_1_3_16', 'C119_1_3_17', 'C119_1_3_18',
       'C119_1_3_19', 'C119_1_4', 'C119_1_4_1', 'C119_1_4_2', 'C119_1_5',
       'C119_2', 'C119_2_1', 'C119_2_1_1', 'C119_2_1_2', 'C119_3', 'C119_3_1',
       'C119_3_1_1', 'C119_3_1_2', 'C119_3_1_3', 'C119_3_1_4', 'C119_3_1_5',
       'C119_3_1_6', 'C119_3_1_7', 'C119_3_2', 'C119_3_2_1', 'C119_3_2_2',
       'C119_3_3', 'C119_3_4', 'C119_4', 'C119_4_1', 'C119_4_2', 'VFI_C120',
       'C120', 'C120_1', 'C120_1_1', 'C120_1_2', 'C120_1_3', 'C120_1_4',
       'C120_1_5', 'C120_2', 'C120_2_1', 'C120_2_1_1', 'C120_2_1_2',
       'C120_2_1_3', 'C120_2_1_3_1', 'C120_2_1_3_2', 'C120_2_1_3_3',
       'C120_2_1_3_4', 'C120_2_1_3_5', 'C120_2_1_3_6', 'C120_2_1_3_7',
       'C120_2_1_3_8', 'C120_2_1_3_9', 'C120_2_1_3_10', 'C120_2_1_3_11',
       'C120_2_1_4', 'C120_2_2', 'C120_2_3', 'C120_3'],
      dtype='object')

In [75]:
col_kA =["Departamento","Provincia","Distrito","C119","C120"]

In [76]:
df18_1 = df18_1[col_kA]

In [77]:
df18_1["Utilidad"] = df18_1["C119"]-df18_1["C120"]
df18_1 = df18_1.drop(columns=['C119', 'C120'])
df18_1 =df18_1.dropna()

C:\Users\Nicolas Silva\AppData\Local\Temp\ipykernel_23288\1430217458.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df18_1["Utilidad"] = df18_1["C119"]-df18_1["C120"]

In [79]:
df18_1["Año"] = 2018

In [80]:
df18_1

     Departamento    Provincia                Distrito    Utilidad   Año
0        AMAZONAS  CHACHAPOYAS             CHACHAPOYAS -5423542.73  2018
1        AMAZONAS  CHACHAPOYAS                ASUNCION -4794886.27  2018
2        AMAZONAS  CHACHAPOYAS                  BALSAS    25869.21  2018
3        AMAZONAS  CHACHAPOYAS                   CHETO   164771.77  2018
4        AMAZONAS  CHACHAPOYAS               CHILIQUIN   633749.84  2018
...           ...          ...                     ...         ...   ...
1869      UCAYALI   PADRE ABAD                 IRAZOLA -7036519.96  2018
1870      UCAYALI   PADRE ABAD                CURIMANA  -406093.82  2018
1871      UCAYALI   PADRE ABAD                 NESHUYA  -224846.27  2018
1872      UCAYALI   PADRE ABAD  ALEXANDER VON HUMBOLDT  -304202.05  2018
1873      UCAYALI        PURUS                   PURUS -1431557.00  2018

[1874 rows x 5 columns]

In [ ]:
# Concatenar los DataFrames verticalmente
df_unido = pd.concat([df22, df18_1], ignore_index=True)

# Verificar el resultado
print(f"Dimensiones del DataFrame unido: {df_unido.shape}")
print(df_unido.head())

Dimensiones del DataFrame unido: (3748, 6)
    Año  Ubigeo Departamento    Provincia     Distrito            Utilidad
0  2022  010101     AMAZONAS  CHACHAPOYAS  CHACHAPOYAS  1895893.7400000058
1  2022  010102     AMAZONAS  CHACHAPOYAS     ASUNCION   288968.8500000001
2  2022  010103     AMAZONAS  CHACHAPOYAS       BALSAS   73168.08000000031
3  2022  010104     AMAZONAS  CHACHAPOYAS        CHETO  -48417.00999999978
4  2022  010105     AMAZONAS  CHACHAPOYAS    CHILIQUIN  -32934.93999999971
Archivo unido guardado como 'df22_df18_1_unido.csv'.

In [90]:
df_unido = df_unido.dropna()

In [92]:
# Opcional: Guardar el DataFrame unido como CSV
df_unido.to_csv("renamu18_22.csv", index=False, encoding="utf-8")

In [84]:
elecciones = pd.read_csv("elecciones_limpio.csv")

In [85]:
elecciones

,Region,Provincia,Distrito,Ubigeo,Votosemitidos,Electores,N_Partidos,P_ausentismo,Año
0,AMAZONAS,CHACHAPOYAS,ASUNCION,10102,267.0,170.0,2.0,0.392647,2022
1,AMAZONAS,CHACHAPOYAS,BALSAS,10103,538.0,264.0,4.0,0.127044,2022
2,AMAZONAS,CHACHAPOYAS,BALSAS,10103,538.0,265.0,4.0,0.127044,2022
3,AMAZONAS,CHACHAPOYAS,CHETO,10104,514.0,214.0,3.0,0.266046,2022
4,AMAZONAS,CHACHAPOYAS,CHETO,10104,514.0,215.0,3.0,0.266046,2022
...,...,...,...,...,...,...,...,...,...
50813,UCAYALI,PADRE ABAD,ALEXANDER VON HUMBOLDT,250305,2429.0,2837.0,10.0,0.143814,2018
50814,UCAYALI,PADRE ABAD,ALEXANDER VON HUMBOLDT,250305,2429.0,2837.0,10.0,0.143814,2018
50815,UCAYALI,PADRE ABAD,ALEXANDER VON HUMBOLDT,250305,2429.0,2837.0,10.0,0.143814,2018
50816,UCAYALI,PADRE ABAD,ALEXANDER VON HUMBOLDT,250305,2429.0,2837.0,10.0,0.143814,2018
50817,UCAYALI,PADRE ABAD,ALEXANDER VON HUMBOLDT,250305,2429.0,2837.0,10.0,0.143814,2018

In [93]:
renamu = pd.read_csv("renamu18_22.csv")

In [96]:
# Renombrar 'Departamento' a 'Region' en renamu
renamu = renamu.rename(columns={'Departamento': 'Region'})

# Verificar los cambios
print(renamu.columns)

Index(['Año', 'Ubigeo', 'Region', 'Provincia', 'Distrito', 'Utilidad'], dtype='object')

In [97]:
# Actualizar las claves de unión
columnas_clave = ['Año', 'Ubigeo', 'Region', 'Provincia', 'Distrito']

# Convertir las claves a string para evitar problemas de tipo
for columna in columnas_clave:
    renamu[columna] = renamu[columna].astype(str)
    elecciones[columna] = elecciones[columna].astype(str)

# Realizar la unión
elecciones_con_utilidad = pd.merge(
    elecciones,
    renamu[['Año', 'Ubigeo', 'Region', 'Provincia', 'Distrito', 'Utilidad']],
    on=columnas_clave,
    how='left'
)

# Verificar el resultado
print(elecciones_con_utilidad.head())

     Region    Provincia  Distrito Ubigeo  Votosemitidos  Electores  \
0  AMAZONAS  CHACHAPOYAS  ASUNCION  10102          267.0      170.0
1  AMAZONAS  CHACHAPOYAS    BALSAS  10103          538.0      264.0
2  AMAZONAS  CHACHAPOYAS    BALSAS  10103          538.0      265.0
3  AMAZONAS  CHACHAPOYAS     CHETO  10104          514.0      214.0
4  AMAZONAS  CHACHAPOYAS     CHETO  10104          514.0      215.0

   N_Partidos  P_ausentismo   Año   Utilidad
0         2.0      0.392647  2022  288968.85
1         4.0      0.127044  2022   73168.08
2         4.0      0.127044  2022   73168.08
3         3.0      0.266046  2022  -48417.01
4         3.0      0.266046  2022  -48417.01

In [98]:
elecciones_con_utilidad

,Region,Provincia,Distrito,Ubigeo,Votosemitidos,Electores,N_Partidos,P_ausentismo,Año,Utilidad
0,AMAZONAS,CHACHAPOYAS,ASUNCION,10102,267.0,170.0,2.0,0.392647,2022,288968.85
1,AMAZONAS,CHACHAPOYAS,BALSAS,10103,538.0,264.0,4.0,0.127044,2022,73168.08
2,AMAZONAS,CHACHAPOYAS,BALSAS,10103,538.0,265.0,4.0,0.127044,2022,73168.08
3,AMAZONAS,CHACHAPOYAS,CHETO,10104,514.0,214.0,3.0,0.266046,2022,-48417.01
4,AMAZONAS,CHACHAPOYAS,CHETO,10104,514.0,215.0,3.0,0.266046,2022,-48417.01
...,...,...,...,...,...,...,...,...,...,...
50813,UCAYALI,PADRE ABAD,ALEXANDER VON HUMBOLDT,250305,2429.0,2837.0,10.0,0.143814,2018,NaN
50814,UCAYALI,PADRE ABAD,ALEXANDER VON HUMBOLDT,250305,2429.0,2837.0,10.0,0.143814,2018,NaN
50815,UCAYALI,PADRE ABAD,ALEXANDER VON HUMBOLDT,250305,2429.0,2837.0,10.0,0.143814,2018,NaN
50816,UCAYALI,PADRE ABAD,ALEXANDER VON HUMBOLDT,250305,2429.0,2837.0,10.0,0.143814,2018,NaN
50817,UCAYALI,PADRE ABAD,ALEXANDER VON HUMBOLDT,250305,2429.0,2837.0,10.0,0.143814,2018,NaN

In [99]:
elecciones_18_22 = elecciones_con_utilidad.dropna()

In [100]:
elecciones_18_22.to_csv("elecciones_18_22.csv", index=False, encoding="utf-8")